.about__content {
    /* width: 85%; */
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 50px auto; */
    border: 1px solid red;
}

.about__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    color: #423f3f;
    /* background-color: lightblue; */
}

.about__subtitle {
    color: #9056b9;
}
.about__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 280px;
    border: 6px dashed #d5c3e3;
    border-radius: 20px;
    max-width: 360px;
    /* background-color: goldenrod; */
}

.about__image img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.about__content2 {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
/* Animacion del texto  */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.typewriter {
    overflow: hidden;
    display: inline-block;
    animation: typing 3s linear;
    /* Cambiado a una transición lineal */
    white-space: nowrap;
}

.bx {
    font-size: 3rem;
    color: #754399;
}
@media (min-width: 750px) {
    .about__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .about__text {
        text-align: start;
    }

    .about__title,
    .about__title-name {
        font-size: 5rem;
        font-weight: 500;
    }

    .about__subtitle {
        font-size: 4rem;
    }
    .about__description {
        font-size: 1.8rem;
    }

    .about__social {
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    .about__image {
        height: 350px;
    }
    .about__title,
    .about__title-name {
        font-size: 6rem;
    }
    .about__subtitle {
        font-size: 5rem;
    }
}
