.about__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.about__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    gap: 20px;
    color: #423f3f;
    text-align: center;
}

.about__title {
    font-family: "Outfit", sans-serif;
    font-size: 2.3rem;
    color: #323131;
    font-weight: 500;
}

.about__title-name {
    font-size: 2.8rem;
    margin-left: 15px;
    font-optical-sizing: auto;
    font-style: normal;
}

.span {
    font-weight: 600;
}
.about__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about__image-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 280px;
    border-radius: 20px;
    max-width: 360px;
    background-color: #fff;
}

.about__image-perfil img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.about__image-social {
    display: flex;
    gap: 20px;
}

.about__content2 {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
/* Animacion del texto  */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.typewriter {
    overflow: hidden;
    display: inline-block;
    animation: typing 3s linear;
    /* Cambiado a una transición lineal */
    white-space: nowrap;
}

.text__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.bx {
    font-size: 3rem;
    border: 1px solid #dd3485;
    padding: 6px;
    color: #423f3f;
    border-radius: 50%;
}
@media (min-width: 750px) {
    .about__content {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        gap: 0;
    }
    .about__text {
        text-align: start;
    }

    .about__title {
        font-size: 3.2rem;
    }

    .about__title-name {
        font-size: 4rem;
        margin-left: 15px;
    }

    .text__icons {
        flex-direction: row;
    }

    .about__description,
    .about__description-end {
        font-size: 1.8rem;
        color: black;
    }

    .about__image-social {
        gap: 15 px;
    }

    .about__social-link {
        border-radius: 10px;
        padding: 5px;
    }
}

@media (min-width: 1200px) {
    .about__image-perfil {
        height: 350px;
    }
}
