.intro__content {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
}
.intro__text{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.intro__span1 {
    color: #444044;
    font-weight: 600;
    font-size: 2.2rem;
}

.intro__text {
    font-size: 1.5rem;
    color: #151616;
}
.intro__text2{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 20px 0 20px;
    color: #444044;
}

.intro__container-image {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.intro__container-image img {
    width: 100%;
    max-width: 450px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

@media (min-width: 850px) {
   
    .intro__content {
        padding: 50px 0 0;
        width: 70%;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .intro__span1 {
        font-size: 2.5rem;
    }

    .intro__text {
        font-size: 1.7rem;
    }
    
    .intro__container-image {
        width: 70%;
        height: 300px;
    }
}
