.contact__content{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contact__icons{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
    border: 1px solid rgba(128, 128, 128, 0.71);
    border-radius: 10px;
    width: 250px;
    height: 130px;
}