/* Main */
.home__content {
    min-height: calc(100vh - 110px);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-hello {
    padding: 20px 0;
}

.title-home {
    color: #e5e9f0;
    font-size: 5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: writetitle 2s steps(40, end) 1.5s;
    /* Inicia la animación después de 3 segundos */
    border-right: 2px solid transparent;
    /* Cambia a transparent para ocultar el cursor */
}

.span-hello {
    color: #e5e9f0;
    font-size: 1.8rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: write 2s steps(40, end);
    border-right: 2px solid transparent;
}

.span-frontend {
    color: #ff2599;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: write 2s steps(40, end);
}

.text-home {
    color: #fff;
    font-size: 2rem;
}
.container-github-profile {
    /* background-color: #4D5BCE; */
    padding: 20px 0;
    font-size: 1.5rem;
}

.titleGithubProfile {
    color: #607b96;
    /* font-size: 14px; */
}

.githubLinkCode {
    color: #4d5bce;
}

.githubLinkVariable {
    color: #43d9ad;
}

.githubLinkURL {
    border-bottom: 1px solid white;
}

@keyframes write {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes writetitle {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (min-width: 750px) {
    .span-hello {
        font-size: 3rem;
    }

    .title-home {
        /* background-color: yellow; */
        font-size: 7.5rem;
    }

    .span-frontend {
        font-size: 3.5rem;
    }

    .container-github-profile {
        font-size: 1.8rem;
    }
}
