.home__view {
    width: 90%;
    max-width: 1040px;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px 30px 25px;
    background: linear-gradient(135deg, #e9d2f54f 50%, rgba(255, 191, 200, 0.678) 100%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 6px 5px rgba(0, 0, 0, 0.19);
}

.home__content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 30px 0 10px;
}

.column {
    flex: 1 1 260px;
}

.image__perfil {
    width: 100%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.container-hello {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    padding: 0px  ;
}
.span-hello1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #221953;
}

.span-hello {
    font-size: 3.4rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: write 2s steps(40, end);
    border-right: 2px solid transparent;
    font-family: "KoHo", sans-serif;
    font-weight: bold;
    background: linear-gradient(to bottom right, #db2777, #8555b4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
}

.title-home {
    color: #130b43;
    font-weight: 600;
    font-size: 2.7rem;
    overflow: hidden;
    white-space: nowrap;
    animation: writetitle 2s steps(40, end) 1.5s;
    border-right: 2px solid transparent;
    margin-top: -5px;
    font-weight: 600;
}

.home__text {
    margin: 10px 0 12px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #130B43;
}

.home__content-image {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}
.intro__image {
    width: 42px;
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.5)) 
            drop-shadow(-1px -1px 2px rgba(255, 255, 255, 0.8));
}

.button-title {
    font-size: 1.5rem;
    background-color: #151616;
    padding: 10px 0;
    color: #fff;
    border-radius: 25px;
    width: 160px;
    display: block;
    margin: 10px auto ;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.button-title:hover {
    transform: scale(0.98); 
}

@keyframes write {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes writetitle {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media (min-width: 850px) {
    .home__view{
        margin: 16px auto;
    }

    .box__image-perfil {
        flex: 0 1 199px;
    }

    .home__content-info{
       padding:  30px 20px 10px;
    }

    .home__content-image {
        justify-content: flex-start;
        gap: 40px;
        margin: -85px 20px 37px;
    }

    .image__perfil {
        width: 100%;
        position: relative;
        bottom: -45px;
        height: 360px;
    }

    .title-home {
        font-size: 4.1rem;
        margin-top: -10px;
    }

    .span-hello1 {
        font-size: 2.2rem;
    }

    .span-hello {
        font-size: 4.3rem;
    }

    .home__text {
        font-size: 1.7rem;
    }

    .intro__image {
        width: 50px;
    } 
    
    .button-title {
        padding: 10px 35px;  
        margin: 10px 15px 29px; 
    }
}

@media (min-width: 1200px) {
    .box__image-perfil {
        flex: 0 1 350px;
    }
    .image__perfil{
        width: 245px;
    }
    .home__view {
        padding-left: 75px;
    }

    .home__content-info {
        padding: 0;
        gap: 0;
    } 
    .home__content-image {
        padding: 0;
        gap: 60px;
        margin: -82px 0px 37px;
    }
    .container-hello{     
        padding: 0;
        margin-top: -50px;
    }
    .button-title {
        margin: 10px 0 29px;
    }

}