
.projects__title {
    font-size: 2.5rem;
}

.card-project {   
    height: 480px;
    border: solid 1px #b19bbb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;
    position: relative;
    color: #000;
}
.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-project img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 230px;
    object-fit: cover; 
}

.experience-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.subtitle-projects {
    color: #130b43;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 15px 0;
    text-align: center;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9e9e9;
    /* background-color: rgba(238, 226, 232, 0.887); */
    border-radius: 10px;
}

.card-project.flipped {
    transform: rotateY(180deg);
}
.card-project.flipped .card-back {
    display: flex;
}
.card-back {
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 229, 232);
    color: #000;
    backface-visibility: hidden;
    height: 100%;
}
.card-back-content {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    transform: rotateY(180deg);
    font-size: 16px;
    padding: 0 20px;
    line-height: 1.5;
}

.back-button {
    margin: 20px auto;
    padding: 8px 30px;
    font-size: 1.8rem;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    cursor: pointer;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-demo, .btn-repo {
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 20px;
}

.box-tec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px  0;
    font-size: 1.5rem;
    gap: 5px;
}
.box-description{
    text-align: center;
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 30px;
    font-weight: 500;
}

.details-button {
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: #d9007d;
    border:none;
    border-radius: 15px;
}
.link-demo, .link-repo{
    text-decoration: none;
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
}

.link-demo{
    border: 1px solid #a33194;
    color: #130b43;
    background-color: #8f7b9873;
}
.link-repo{
    color: #000;
    border: 1px solid #d9007d;
    background-color: #dfaecabe;
}
.project-skills{
    text-transform: uppercase;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
    color: #000;
}
.title-skills1{
    text-align: center;
    font-size: 1.5rem;
}

@media (min-width: 750px) {
    .box-tec{
        flex-direction: row;
    }

    .card-back-content {
        padding: 0 50px;
        font-size: 1.7rem;
    }
}