.card-project {    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 540px;
    border: solid 2px #b19bbb;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    transition: 1s;
    border-radius: 14px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: transform 0.5s;
    position: relative;
    color: #000;
}
.card-front {
    width: 100%;
    height: 255px;
}

.card-project img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    transition: transform 0.3s ease;
}
.subtitle-projects {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 15px 0;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card-project.flipped {
    transform: rotateY(180deg);
    background-color: pink;
}
.card-project.flipped .card-back {
    display: flex;
}
.card-back {
    border-radius: 12px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 234, 235);
    color: #000;
    backface-visibility: hidden;
    height: 100%;
}
.card-back-content {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    transform: rotateY(180deg);
    font-size: 19px;
    padding: 0 50px;
    line-height: 1.5;
}

.card-back button {
    margin: 20px auto;
    padding: 8px 30px;
    font-size: 1.8rem;
    border-radius: 8px;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.btn-online {
    animation: slideleftT4 0.4s ease-in-out;
    padding: 10px 25px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    box-shadow: inset 0 0 12px #bf97ff3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    transition: all 0.15s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 8px;
    border: none;
    color: #000;
    background-color: #583c64;
}

.box-tec{
    display: flex;
    justify-content: center;
    padding: 25px 0 30px;
    font-size: 1.5rem;
    gap: 10px;
}
.box-description{
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px;
}

.details-button {
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ec4899;
    border:none;
    border-radius: 15px;
}
.online__link{
    text-decoration: none;
    color: #fff;
}
.project-skills{
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
    color: #000;
}

@media (min-width: 750px) {

}
