.card-project {
    border: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
    width: 500px;
    height: 520px;
    /* width: 100%;
    height: 470px; */
    border: solid 1px rgba(64, 31, 120, 0.5568627451);
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    transition: 1s;
    border-radius: 14px;
    /* overflow: hidden; */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #0c0728;
    background-color: #fff;
    transition: transform 0.5s;
    position: relative;
}
.card-front {
    width: 100%;
    height: 240px;
}
.card-project img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: transform 0.3s ease;
}
.subtitle-projects {
    color: #fff;
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card-project.flipped {
    transform: rotateY(180deg);
    background-color: pink;
}
.card-project.flipped .card-back {
    display: flex;
}
.card-back {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    backface-visibility: hidden;
    height: 100%;
}
.card-back-content {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    transform: rotateY(180deg);
}

.card-back button {
    margin-bottom: 20px;
}

.btn-box {
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.btn-online {
    width: 150px;
    height: 50px;

    animation: slideleftT4 0.4s ease-in-out;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    background: linear-gradient(180deg, #3c087e00, #3c087e52), #712fff1f;
    box-shadow: inset 0 0 12px #bf97ff3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    transition: all 0.15s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
    margin-left: 10px;
}

.details-button {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.red {
    background-color: #83e0f8;
}

.celest {
    background-color: #f0db4f; /* Color celeste en formato hexadecimal */
}

.amarillo {
    background-color: #ec4899;
}

.verde {
    background-color: #dd4b25;
}
@media (min-width: 750px) {
    .card-project {
        /* width: 400px; */
    }
}
