.about {
    width: 80%;
    margin: 0 auto;
    /* background-color: #000; */
}
.about__content {
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
}

.about__text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid blue; */
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.about__subtitle {
    color: #a855f7;
}
.about__contact-label {
    font-size: 1rem;
}

.about__social {
    display: flex;
    flex-direction: column;
}

.about__image {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}
.about__image img {
    height: 95%;
    width: 95%;
    border-radius: 50%;
}

@media (min-width: 650px) {
    .about__content {
        grid-template-columns: 2fr 1fr;
    }
    .about__text {
        text-align: start;
    }

    .about__title {
        font-size: 3.7rem;
    }
    .about__subtitle {
        font-size: 4.5rem;
    }
    .about__description {
        font-size: 1.5rem;
    }
    .about__social {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}

@media (min-width: 850px) {
    .about__title {
        font-size: 6.2rem;
    }
    .about__subtitle {
        font-size: 5.2rem;
    }

    .about__description {
        font-size: 2rem;
    }
    .about__social {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}
