.projects__content {
    width: 80%;
    margin: 0 auto;
}
.projects__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.projects__title {
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 600;
    color: #5f585f;
    padding: 35px 0 15px;
}

.projects__button{
    display: block;
    font-size: 1.8rem;
    margin: 50px auto;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    
}
@media (min-width: 850px) {
    .projects__title{
        font-size: 2.8rem;
        padding: 50px 0 20px;

    }
    .projects__card {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
    .projects__content {
        width: 75%;
    }
}
