.projects__content {
    /* border: 1px solid red; */
    display: grid;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    grid-template-columns: repeat(1fr);
    gap: 20px;
    /* gap: 20px; */
}

.projects__title {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 20px;
}
@media (min-width: 750px) {
    .projects__content {
        grid-template-columns: repeat(3, 1fr);
    }
}
