.projects__content {
    width: 70%;
    margin: 0 auto;
}
.projects__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
}

.projects__title {
    margin: 0 auto;
    color: #151616;
    font-size: 3.5rem;
    padding: 50px 0 20px 0;
}
@media (min-width: 850px) {
    .projects__card {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
}
