.intro {
    width: 100%;
}

.intro__content {
    /* background-color: red; */
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center; */
    flex-direction: column

}
.intro__content2{
    background-color: pink;
    width: 70%;

    margin: 0 auto;
}

.intro__container-hello {
    /* border: 1px solid yellow; */
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.intro__text {
    font-size: 1.5rem;
    color: #151616;
    margin-top: 10px;
}

.intro__icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 0;
    gap: 40px;
}

/* animación de texto */
.intro__span1{
    color: #2c2626;
    font-weight: 600;
    font-size: 2.2rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    /* animation: write 3s steps(40, end) 0.11s; */
}
.intro__span2{
    font-size: 2.7rem;
}

.intro__title {
    color: #2c2626;
    font-weight: 600;
    font-size: 2.5rem;
    display: block;
    font-size: 3rem;
    margin: -10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: writetitle 1.5s steps(40, end) 1.5s;
}

.intro__span-frontend {
    font-weight: 400;
    color: #d9007d;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: write-frontend 2s steps(40, end) 3s;
}

@keyframes write {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes writetitle {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes write-frontend {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* aquí termina animacion de textos */

.intro__container-image {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.intro__container-image img {
    width: 100%;
    max-width: 450px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

@media (min-width: 850px) {
    .intro {
        padding-top: 50px;
    }
    
    .intro__text {
        font-size: 1.8rem;
    }
    .intro__span1 {
        font-size: 2.8rem;
    }
    .intro__span2{
        font-size: 3.5rem;
    }

    .intro__title {
        font-size: 3rem;
    }

    .intro__span-frontend {
        font-size: 3.5rem;
    }

    .intro__content {
        width: 70%;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .intro__container-hello {
        width: 100%;
        font-size: 1.7rem;
    }

    .intro__container-image {
        width: 70%;
        height: 350px;
    }
}
