.footer{
    border-top: 1px solid rgba(128, 128, 128, 0.117);
  
}

.footer__content{
    display: flex;
    justify-content:flex-end;
    line-height: 3;
    gap: 15px;
    padding: 10px 0 10px;
    font-size: 1.3rem;
    color: #333333;
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
}

.footer__social-link {
    gap: 10px;
}

.bx {
    color: rgb(84, 83, 83);
    font-size: 2.3rem;
    border-radius: 50%;
    padding: 5px;
}
.bx:hover {
    color: #d9007d;
}

@media(min-width:750px){
    .footer__content{
        font-size: 1.5rem;
    }
    .bx{
        font-size: 2.8rem;
    }
}