.footer__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 2.5;
    gap: 15px;
    font-size: 1.3rem;
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
    color: #130B43;
}

.footer__social-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bxl-linkedin,
.bxl-github-footer,
.bx-chevron-down,
.bx-chevron-up,
.bx-left-arrow-alt {
  padding: 6px;
    border: none;
    transition: box-shadow 0.3s ease;
}

@media(min-width:750px){
    .footer__content{
        font-size: 1.5rem;
    }
}