.header {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0.1rem 1rem rgba(1, 1, 1, 0.10);
    background-color: #f5f5f5;
    background-color: #fff;
    border-bottom: 1px solid rgba(128, 128, 128, 0.168);
}

.section {
    min-height: calc(100vh - 119px);
    background-color: #f5f5f5a2;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    gap: 20px;
}

.footer{
    border-top: 1px solid rgba(128, 128, 128, 0.168);
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    line-height: 2.5;
    gap: 15px;
    font-size: 1.3rem;
    color: #333333;
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
}

.bxl-linkedin, .bxl-github{
    color: rgb(84, 83, 83);
    font-size: 2.3rem;
    border-radius: 50%;
    padding: 5px;
}
.bx:hover {
    color: #d9007d;
}

@media(min-width: 750px){
    .section{
        min-height: calc(100vh - 139px);
    }
}  

@media(min-width:750px){
    .footer__content{
        font-size: 1.5rem;
    }
    .bx{
        font-size: 2.5rem;
    }
}