@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Poppins:wght@100;200;300;600&family=Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

.container {
    width: 90%;
    margin: 70px auto;
    max-width: 1250px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
