* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}

body {
    background-color: black;
    color: #fff;
    /* overflow: hidden; */
    /* overflow: scroll; */
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
